<!DOCTYPE html>
<html lang="en">
    <%- include('layout/header');-%>
    <body>
        <!-- Navigation-->
        <%- include('layout/nav');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>Create New Post</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                            <form action="/posts/store" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="title" data-sb-validations="required" />
                                    <label for="title">Blog title</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="body" id="body" placeholder="Enter your blog message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="body">Body</label>
                                </div>
                                <div class="form-floating">
                                    <input type="file" class="form-control" id="image" name="image">
                                    <label for="image">Image</label>
                                </div>
                                <br>
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="postbutton" type="submit">Post</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layout/footer');-%>
        <!-- Bootstrap core JS-->
        <%- include('layout/script');-%>
    </body>
</html>